# 编译生成的可执行文件
codec/codec_service

# 测试生成的视频
codec/output.h264

# C/C++编译中间文件
*.o

# 日志文件
*.log


# 根目录编译生成的程序
/bsp_service
/codec_service

# 测试生成的视频
/output.h264
/fd_transfer_test
/frame_ipc_test
/rtsp_service
